{% extends 'base.html' %} {% block contenido %}

<main class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <h1>Detalles: {{informacion_curso.nombre}}</h1>

      {{error}}
      
      <form method="POST">
        {% csrf_token %} {{formulario.as_p}}

        <button class="btn btn-primary">
            Editar
        </button>
      </form>

      <div class="mt-4 d-flex">
        

      <form action="{% url 'eliminar_cursos' informacion_curso.id %}"method="POST">
        {% csrf_token %}

        <button class="btn btn-danger">
            Eliminar
        </button> 
      </div>

      </form>
    </div>
  </div>
</main>

{% endblock %}
