{% extends 'base.html' %} {% block contenido %}
<main class="container">
  <section class="card card-body">
    <h1 class="display-1 text-center">Inicio</h1>
    <h2 class="mt-5">¿Qué puedes hacer en Cursos Free online?</h2>
    <p class="text-center mt-5">
      Subir tus propios cursos: Comparte tu conocimiento con el mundo creando y
      subiendo tus propios cursos. Explora una amplia variedad de cursos: desde
      desarrollo web y negocios hasta cocina y jardinería.
    </p>

    <div class="text-center mt-10">
      <a class="btn btn-secondary" href="inicio_sesion"> Iniciar Sesion </a>
      <a class="btn btn-dark" href="registro"> Registrarse </a>
    </div>
  </section>
</main>

{% endblock %}
